.modal#modal
	.modal__close
	.modal__top
		.modal__line.modal__line--1
		.modal__line.modal__line--2
		.modal__line.modal__line--3
		.modal__slider
			//-.modal__slide
				.modal__slide-background
					img(src="images/gallary/2.png" alt="")
				.modal__slide-inner
					img(src="images/gallary/2.png" alt="")

	.modal__bottom
		.modal__left
			.modal__studio
			.modal__name
			.modal__line.modal__line--4
		.modal__right
			.modal__text
	.modal__social
		.modal__social-title поделиться
		.modal__social-share.share
			button.share__btn.vk
			button.share__btn.ok
			button.share__btn.tg
	.modal__line.modal__line--5
