.gallary {
	padding: 92px 0;
	overflow: hidden;
	position: relative;
	@media (max-width: 1920px){
		padding: vw(92) 0;
	}
	@media (max-width: 800px){
		padding: vw2(173) 0 vw2(84);
	}
	&__lines {
		position: absolute;
		z-index: -1;
		top: 300px;
		left: 50%;
		transform: translateX(-50%);
		width: 2260px;
		height: 584px;
		@media (max-width: 1920px){
			top: vw(300);
			width: vw(2260);
			height: vw(584);
		}
		@media (max-width: 800px){
			top: vw2(390);
			width: vw2(800);
			height: vw2(2136);
		}
	}
	&__title {
		color: #F70042;
		text-align: center;
		font-family: Miratrix, sans-serif;
		font-size: 128px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
		@media (max-width: 1920px){
			font-size: vw(128);
		}
		@media (max-width: 800px){
			font-size: vw2(96);
		}
	}
	&__grid {
		margin-left: -49px;
		margin-right: -49px;
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 1920px){
			margin-left: vw(-49);
			margin-right: vw(-49);
		}
		@media (max-width: 800px){
			margin-left: 0;
			margin-right: 0;
		}
		&-wrapper  {
			width: 1720px;
			max-width: 100%;
			box-sizing: border-box;
			margin: 44px auto 0;
			@media (max-width: 1920px){
				width: vw(1720);
				margin: vw(44) auto 0;
			}
			@media (max-width: 800px){
				width: 100%;
				margin-top: vw2(60);
			}
		}
	}
	&__item {
		width: 33.333%;
		@media (max-width: 800px){
			width: 100%;
		}
	}
	&__show-more {
		color: #FFF;
		text-align: center;
		font-family: Miratrix;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
		border-radius: 15px;
		border: 1px solid #F2B604;
		padding: 17px 0;
		min-width: 328px;
		@media (max-width: 1920px){
			font-size: vw(32);
			border-radius: vw(15);
			padding: vw(17) 0;
			min-width: vw(328);
		}
		@media (max-width: 800px){
			font-size: vw2(32);
			border-radius: vw2(15);
			padding: vw2(17) 0;
			min-width: vw2(325);
		}
		&-wrapper {
			margin-top: 36px;
			display: flex;
			justify-content: center;
			@media (max-width: 1920px){
				margin-top: vw(36);
			}
			@media (max-width: 800px){
				margin-top: vw2(90);
			}
		}
	}
}
.item-gallary {
	padding: 49px;
	@media (max-width: 1920px){
		padding: vw(49);
	}
	@media (max-width: 800px){
		padding: vw2(30) vw2(96);
	}

	&__column {
		display: flex;
		flex-direction: column;
	}
	&__image {
		cursor: pointer;
		padding-top: 100%;
		position: relative;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&::after{
			content: "";
			z-index: 1;
			border: 10px solid;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			pointer-events: none;
			@media (max-width: 1920px){
				border-width: vw(10);
			}
			@media (max-width: 800px){
				border-width: vw2(10);
			}
		}
	}
	&__body {
		margin-top: 56px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 1920px){
			margin-top: vw(56);
		}
		@media (max-width: 800px){
			margin-top: vw2(41);
		}
	}
	&__title {
		color: #FFF;
		font-family: Raleway, sans-serif;
		font-size: 30px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
		@media (max-width: 1920px){
			font-size: vw(30);
		}
		@media (max-width: 800px){
			font-size: vw2(30);
		}
	}
	&__like {
		display: flex;
		align-items: center;
		cursor: pointer;
		&-icon {
			width: 45px;
			height: 40px;
			@media (max-width: 1920px){
				width: vw(45);
				height: vw(40);
			}
			@media (max-width: 800px){
				width: vw2(55);
				height: vw2(46);
			}
			svg {
				width: 100%;
				height: 100%;
				path {
					&:first-child{
						opacity: 0.2;
						transition: all 0.3s ease 0s;
					}
				}
			}

		}
		&-count {
			margin-left: 15px;
			color: #FFF;
			font-family: Miratrix;
			font-size: 38px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;
			@media (max-width: 1920px){
				font-size: vw(38);
				margin-left: vw2(15);
			}
			@media (max-width: 800px){
				font-size: vw2(38);
				margin-left: vw2(15);
			}
		}

		&.active {
			.item-gallary__like-icon{
				svg {
					path {
						&:first-child{
							opacity: 1;
						}
					}
				}
			}

		}
		&.sended {
			cursor: default;
		}
	}



	&:nth-child(9n - 8),
	&:nth-child(9n - 4),
	&:nth-child(9n)	{
		.item-gallary__image::after{
			border-color: #F70042;
			border-top: none;
			border-right: none;
		}
	}
	&:nth-child(9n - 7),
	&:nth-child(9n - 3),
	&:nth-child(9n - 2) {
		.item-gallary__image::after{
			border-color: #F2B604;
			border-right: none;
			border-left: none;
		}
	}
	&:nth-child(9n - 6),
	&:nth-child(9n - 5),
	&:nth-child(9n - 1) {
		.item-gallary__image::after{
			border-color: #1A56A5;
			border-left: none;
		}
	}
}



